/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2014, 7:06:26 PM
    Author     : helderdarocha
*/

.table {
    margin: 5px;
    border: solid 1px appworkspace;
    border-collapse:collapse;
}

.table td {
     border: solid 1px appworkspace;
     padding: 2px 6px 2px 6px;
}

.table input {
    font-size: 80%;
}

fieldset select {
    width: 300px;
}
fieldset {width: 700px;
}
* {
    font-family: 'Calibri';
}


.appmain {
    font-size: 160pt !important;
    text-align: center;
}

.menubar {
    overflow: hidden;
    padding: 0;
}
#logo .name {
    font-weight: bold;
    font-family: helvetica;
    color:yellow; 
    text-align: center; 
    font-size: 40px;
    display: inline-block;
}
#logo .capital {
    color: bisque; 
    font-size: 68px;
    font-weight: normal; 
    font-style:italic;
    font-family: baskerville;
}
.menu, #logo {
    display: inline-block;
}

input[type='text'] {
    box-shadow: none !important;
    border: solid 1px appworkspace !important;
    background-color: transparent !important;
}

.dateEdit input {
    box-shadow: none !important;
    border: solid 1px appworkspace !important;
    background-color: transparent !important;
}

.dateDisplay input {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}

.result {
    font-weight: bold !important;
}



#listaIH {
    position: fixed;
    background: #c2dfef;
    top: 150px;
    left: 100px;
    border: solid 1px #045491;
    box-shadow: 5px 5px 20px rgba(20%,20%,20%,0.5);
}

#listaProdutos {
    position: fixed;
    background: #c2dfef;
    top: 150px;
    left: 100px;
    border: solid 1px #045491;
    box-shadow: 5px 5px 20px rgba(20%,20%,20%,0.5);
}

.preco {
    text-align: right;
}
.preco input {
    text-align: right;
}


.ui-layout-north {
    z-index: 2000 !important;
    border: none !important;
    overflow: visible !important;
}

.ui-layout-unit-content {
    overflow:visible !important;
    border: none !important;
    z-index: 2000 !important;
}

.ui-menu-list {
    background: rgb(10%,15%,30%) !important;
    opacity: 0.95 !important;
    z-index: 2000 !important;
}

.ui-menu {
    border: none !important;
    z-index: 2000 !important;
}

.ui-menuitem-text {
    font-weight: normal !important;
}

.table-row:hover {
    background: rgb(100%,100%,50%);
    
}

.table-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: normal !important;
}

.table-row:hover .table-link {
    font-weight: bold !important;
}

.ui-selectonemenu label.ui-selectonemenu-label {
   width:100% !important;
}

.tag-produto {
    display: inline-block;
    padding: 2px;
    margin: 5px;
    border: solid appworkspace 1px;
    background: aliceblue;
}

.tag-produto input {
    font-size: 80%;
    padding: 0 !important;
    width: 20px;
}